<ol class="breadcrumb">
  <li>YOU ARE HERE</li>
  <li class="active">SMS</li>
</ol>
<div *ngIf="alertShow" [ngClass]="{ 'alert-danger': alertDanger, 'alert-success': !alertDanger }" class="alert alert-sm pull-right no-margin animated bounceInLeft" id="app-alert">
  <button type="button" class="ml-lg close" data-dismiss="alert" aria-hidden="true" (click)="hideAlert()">×</button>
  <span *ngIf="alertDanger"><span class="fw-semi-bold">Oops, error!</span> {{ alertMessage }}</span>
  <span *ngIf="!alertDanger"><span class="fw-semi-bold">Awesome!</span> Message has been sent/scheduled successfully</span>

</div>
<h1 class="page-title">SMS - <span class="fw-semi-bold">Reminder</span></h1>
<div class="row" sn-inbox-app>
  <div class="col-lg-3 col-xl-2 col-xs-12">
    <a class="btn btn-danger btn-block" id="compose-btn" (click)="handleComposeBtn()">Compose</a>
    <ul class="nav nav-pills nav-stacked nav-email-folders mt" id="folders-list">
      <li class="nav-item active"><a class="nav-link" (click)="handleMailListBtn('Sent Message')">Sent Message</a></li>
      <li class="nav-item"><a class="nav-link" (click)="handleMailListBtn('Scheduled')">Scheduled</a></li>
      <li class="nav-item"><a class="nav-link" (click)="handleCalendarBtn()">Calendar</a></li>
    </ul>
  </div>
  <div *ngIf="mailListShow" mail-list [folderName]="currentFolderName" (replyMail)="onReplyMail($event)" [newMsg]="sentMessage" class="col-lg-9 col-xl-10 col-xs-12"></div>
  <div *ngIf="mailFormShow" mail-form (backToMailList)="handleBackBtn($event)" (validationError)="handleError($event)" (sentMsg)="handleSentMsg($event)" [message]="repliedMessage" [component]="prevComponent" class="col-lg-9 col-xl-10 col-xs-12"></div>
  <div *ngIf="mailCalendarShow" mail-calendar (backToMailList)="changeEmailComponents('mailList')" class="col-lg-9 col-xl-10 col-xs-12 m-t-33"></div>
  <div *ngIf="mailDetailShow" mail-detail (replyMessage)="handleComposeBtn($event)" [mail]="currentMail" (backToMailList)="changeEmailComponents('mailList')" class="col-lg-9 col-xl-10 col-xs-12"></div>
</div>
